$primary: blue;
$btn-focus-width: 1px;
$fa-font-path: 'https://use.fontawesome.com/releases/v5.2.0/webfonts' !default;
@import "bootstrap/scss/bootstrap";
@import "@msdyn365-commerce-modules/shared-components/dist/lib/flipper/scss/_variables";
@import "@msdyn365-commerce-modules/shared-components/dist/lib/flipper/scss/flipper";
@import "@msdyn365-commerce-modules/shared-components/dist/lib/single-slide-carousel/scss/_variables";
@import "@msdyn365-commerce-modules/shared-components/dist/lib/single-slide-carousel/scss/single-slide-carousel";
